---
title: Government Cyber Security Strategy
weight: 10
---

#Government Cyber Security Strategy

The Government Cyber Security Strategy is set to launch its world-leading strategy and provide insights on how it will help build a cyber resilient public sector and enable the UK Government to “defend as one”. There will be a number of high-profile speakers from across the government delivering keynote speeches and panel discussions to lay out what the GCSS means for the government and how it will be taken forward. There will also be an opportunity to participate in interactive forums and discussions.

If you have trouble viewing this stream please contact


<div style="width: 100%;">
         <div style="width: 65%; height: 100px; float: left; background: white;">

             <div style="padding:56.25% 0 0 0;position:relative;">
               <iframe src="https://vimeo.com/event/1716333/embed" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:100%;">
               <iframe></div>
